# ANONYMOUS FUNCTION LAMBDA

In [28]:
test = lambda x:x*2;
test(5)

10

In [29]:
test(8)

16

In [30]:
test1add = lambda x,y:x+y;
test1add(3,4)

7

In [31]:
test1add = lambda x,y:x*y;
test1add(3,4)

12

In [32]:
m=lambda x,y,z:x+y+z
m(1,2,3)

6

In [33]:
#find square
square = lambda x:x**2
square(4)

16

In [34]:
# find squareroot
sqroot=lambda x:x**(1/2)
sqroot(64)

8.0

In [35]:
#find cube 
cube = lambda x:x**3
cube(4)

64

In [36]:
# find cuberoot
cbroot = lambda x:x**(1/3)
cbroot(27)

3.0

In [37]:
addvar = lambda arg1,arg2 : arg1 + arg2;
#now you can call sum as a function
print("value of total:", addvar(5,10))
print("value o total:", addvar(30,40))

value of total: 15
value o total: 70

In [38]:
#converting temperature in fahrenheit
def fahrenheit (T):
    return((9/5)*T+32)

In [39]:
F= fahrenheit(35)
F

95.0

In [40]:
#CONVERTING TEMPERATURE IN CELSIUS
def celsius(T):
    return(float(5)/9)*(T-32)

In [41]:
ce= celsius(95)
ce

35.0

# LETS USE LAMBDA ANONYMOUS FUNCTION BY USING LAMBDA , WE, WOULDN'T HAVE HAD TO DEFINE AND NAME THE FUNCTION FARENHEIT() AND CELSIUS()

In [42]:
#lambda with fahrenheit
F= lambda x:(9/5)*x+32;
F(38.4)

101.12

# MAP IN LAMBDA----> IT APPLIES ON LIST

In [43]:
mylist = [1,2,3,4]
#map (lambda x:x*2, mylist)

In [44]:
list(map(lambda x:x*2,mylist))

[2, 4, 6, 8]

In [45]:
c=[35.5,36.5,37.3,38,39.8]

In [46]:
f=list(map(lambda x:((9)/5)*x+ 32,c))
print(f)

[95.9, 97.7, 99.14, 100.4, 103.64]

In [47]:
c = list(map(lambda x: (5/9)*(x-32),f))
print(c)

[35.50000000000001, 36.5, 37.300000000000004, 38.00000000000001, 39.800000000000004]

In [48]:
newclist= [round(x,2) for x in c]
newclist

[35.5, 36.5, 37.3, 38.0, 39.8]

In [49]:
f=list(map(lambda x:((9)/5)*x+32,c))
print(c)

[35.50000000000001, 36.5, 37.300000000000004, 38.00000000000001, 39.800000000000004]

In [50]:
newclist = [round(x,2) for x in c]
newclist

[35.5, 36.5, 37.3, 38.0, 39.8]

In [51]:
newlist=['% .2f'% j for j in c]
newlist

[' 35.50', ' 36.50', ' 37.30', ' 38.00', ' 39.80']

# FILTER IN LAMBDA

filter() function - it returns the items where function is true, if none o the element meets condition, it will return nothing
in the code below we are checking i value is greater than 2

In [52]:
mylist = [1,2,3,4,5]
list(filter(lambda x:x>2, mylist))

[3, 4, 5]

In [53]:
even= lambda x:x%2==0
list(filter(even,range(11)))

[0, 2, 4, 6, 8, 10]

In [54]:
# you can do it by list comprehension
[x for x in range(11) if x%2==0]

[0, 2, 4, 6, 8, 10]